<ion-content>
  <div class="welcome-container">
    <img alt="DUOC" src="../../../assets/img/Fachada-Palacio-Íñiguez-e1578666996857.jpg" class="background-image" />
    
    <div class="content-container">
      <div class="welcome-card">
        <div class="profile-section">
          <div class="profile-image">
            <ion-avatar>
              <img [src]="getProfileImage()" alt="Profile">
            </ion-avatar>
          </div>
          <h1>¡Bienvenido(a)!</h1>
          <h2>{{ user.firstName }} {{ user.lastName }}</h2>
          <p class="user-email">{{ user.email }}</p>
          <p class="user-role">{{ user.educationalLevel.name }}</p>
        </div>

        <div class="quick-actions">
          <ion-button expand="block" color="secondary" class="action-button" routerLink="/map">
            <ion-icon slot="start" name="map-outline"></ion-icon>
            Ver Ubicación
          </ion-button>
        </div>
      </div>
    </div>
  </div>
</ion-content>