.full-page {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  padding: 20px;
  box-sizing: border-box; 
}

.logo-container {
  margin-bottom: 20px;
  padding-top: 30px; 
  text-align: center;
}

.logo {
  width: 150px;
  height: auto;
}

.card-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
}

.full-card {
  width: 100%;
  max-width: 500px;
  padding: 20px;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  text-align: center; 
}

.ion-text-center {
  text-align: center;
  margin-bottom: 20px;
}

.image-container {
  text-align: center;
}

.main-image {
  width: 100%;
  height: auto;
  border-radius: 10px;
}

.password-text {
  margin-top: 10px;
}

.fullscreen-image {
  position: fixed; /* Usa fixed en lugar de absolute para mantenerla en su lugar al hacer scroll */
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; /* Altura completa de la pantalla */
  object-fit: cover; /* Asegura que la imagen cubra todo el área */
  z-index: -1; /* Coloca la imagen detrás del contenido */
  overflow: hidden; /* Evita el desbordamiento */
  filter: blur(5px); /* Ajusta el valor para más o menos desenfoque */
}