<app-header 
  (headerClick)="headerClick($event)">
</app-header>

<ion-content [fullscreen]="true">
  <!-- Componentes internos que no son páginas -->
  <app-qrwebscanner 
    *ngIf="selectedComponent === 'qrwebscanner' && !isAdmin()" 
    (scanned)="webQrScanned($event)"
    (stopped)="webQrStopped()">
  </app-qrwebscanner>
  
  <app-welcome 
    *ngIf="selectedComponent === 'welcome'">
  </app-welcome>

  <app-misdatos 
    *ngIf="selectedComponent === 'misdatos'">
  </app-misdatos>

  <app-miclase 
    *ngIf="selectedComponent === 'miclase' && !isAdmin()">
  </app-miclase>

  <app-forum 
    *ngIf="selectedComponent === 'forum'">
  </app-forum>

  <app-usuarios 
    *ngIf="selectedComponent === 'usuarios' && isAdmin()">
  </app-usuarios>
</ion-content>

<app-footer
  (footerClick)="footerClick($event)">
</app-footer>